.mainContainer {
  background: linear-gradient(270deg, #4b6cb7, #182848);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewListContainer {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.viewText {
  color: #ffffff;
  font-size: 20px;
}
.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 3%;
}
.backText {
  padding: 1%;
  padding-left: 5%;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
